input.search {
	border: 2px solid #9AC336;
	width: 850px;
	font-family: monospace;
	background-color: whitesmoke;
	font-size: 35px;
	font-style: italic;
	color: graytext;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div.playlist {
	position: absolute;
	top: 5px;
	left: 1000px;
	height: 1000px;
	width: 300px;
	border: 1px solid #9AC336;
	font-family: sans-serif;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div.playlist-title {
	position: relative;
	left: 10px;
	font: 25px monospace;
}

div.playlist-item {
	border-bottom: 1px #9AC336;
	border-bottom-style: dotted;
	position: relative;
	left: 5px;
	width: 288px;
	font-family: sans-serif;
	font-size: 12px;
}

div.result-statistics {
	position: absolute;
	left: 20px;
	top: 77px;
	font-family: monospace;
	color: #9AC336;
}

div.results {
	position: absolute;
	left: 5px;
	top: 95px;
	width: 925px;
	height: 835px;
	border: 1px solid #9AC336;
	font-family: sans-serif;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow: scroll;
}

div.results-footer {
	position: absolute;
	left: 5px;
	top: 945px;
	height: 60px;
	width: 925px;
	border: 1px solid #9AC336;
	font-family: sans-serif;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 925px;
}

div.results-pages {
	font-family: monospace;
	font-size: 30px;
	position: relative;
	top: 15px;
	left: 260px;
	width: 365px
}